@model IntegrationMSZ.Models.ScheduleMeetingModel


@{
    ViewBag.Title = "Home Page";

}
    <!-- For Client View -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.3.0/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.3.0/css/react-select.css" />
    <link href="~/Scripts/file/styles.css" rel="stylesheet" />

   
    <div>
        <h4>ScheduleMeetingModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.topic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.topic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.id)
            </dt>

            <dd id="id">
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt style="display:none">
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd style="display:none" id="password">
                @Html.DisplayFor(model => model.password)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.start_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.start_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.duration)
            </dd>

            @*<dd>
                    @Html.Action(model => model.join_url)
                </dd>
                <dd>Or</dd>*@
        </dl>
    </div>

    <main>
        <h1>Zoom Meeting</h1>

        <!-- For Component View -->
        <div id="meetingSDKElement">
            <!-- Zoom Meeting SDK Rendered Here -->
        </div>

        <button onClick="getSignature(1)">Start Meeting</button>
    </main>

    <!-- For Component and Client View -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://source.zoom.us/2.3.0/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.3.0/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.3.0/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.3.0/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.3.0/lib/vendor/lodash.min.js"></script>

    <!-- For Client View -->
    <script src="https://source.zoom.us/zoom-meeting-2.3.0.min.js"></script>
    <script src="~/Scripts/file/client-view.js"></script>


